.product-wrapper {
    background-color: #fff;
    margin: 10px 10px;
    width: 380px;
    height: 530px;
    border: 2px solid #000;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 22px;  
}
.hader {
    text-align: center;
    height: 86px;   
}
.artic {
    height: 289px; 
    padding-left: 65px;
}
.credit {
    background-color: #9BB84F;
    width: 190px;
    height: 31px;
    text-align: center;
    color: #fff;
    box-shadow: -3px 3px 0px 0px #9C9C9C;  
}
.price {
    width: 228px;
    height: 67px;
    text-align: center;
    margin: 4px auto -4px;
    font-size: 31px;
}
.botton {
    background-color: #E7413A;
    width: 228px;
    height: 47px;
    text-align: center;
    margin: auto; 
    font-size: 28px; 
    box-shadow: -1px 4px 0px -1px #781D19; 
}
a {
    text-decoration: none;
    color: #fff;
    text-shadow: -1px 1px 0px #000000;
}
span {
    display: inline-block;
    margin-top: 5px;
}
.marg {
    margin-top: 10px;
}
